@model AddingCollectionViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

@functions{
    IEnumerable<SelectListItem> GetThemeSelectList()
    {
        return Model.Themes.Select(t => new SelectListItem
        {
            Value = t.Id.ToString(),
            Text = t.Name
        });
    }
    IEnumerable<SelectListItem> GetTypesSelectList()
    {
        return Model.Types.Select(t => new SelectListItem
        {
            Value = t.Id.ToString(),
            Text = t.Name
        });
    }
}

<div class="container">
    <h4 class="mt-2 mx-2">@Localizer["Title"]</h4>
    <hr class="mb-4 mt-2" />
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-sm">
                <article class="card-body">
                    <form asp-controller="Collection" asp-action="Add" asp-route-returnUrl="@Model.ReturnUrl"
                          asp-route-userName="@Model.UserName" asp-route-userId="@Model.UserId" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-form-label" for="name">@Localizer["Name"]</label>
                            <input id="name" class="form-control" asp-for="Name" />
                            <small><span class="text-danger" asp-validation-for="Name"></span></small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="theme">@Localizer["Theme"]</label>
                            <select id="theme" class="form-control" asp-items="@GetThemeSelectList()" asp-for="SelectedThemeId"></select>
                        </div>
                        <div class="form-group mb-5 js-markdown-block">
                            <label class="col-form-label" for="description">@Localizer["Description"]</label>
                            <textarea id="description" rows="6" class="form-control js-markdown-input" style="max-height: 250px" asp-for="Description"></textarea>
                            <label class="col-form-label">@Localizer["Preview"]</label>
                            <div class="js-markdown-preview"></div>
                        </div>
                        <div class="form-group js-picture-field">
                            <div class="drop-zone mt-0 mb-2">
                                <input class="js-picture-field-prompt-label" type="hidden" value="@Localizer["DragNDrop"]" />
                                <input class="drop-zone__input" type="file" accept="image/*" asp-for="@Model.File" />
                                <span class="drop-zone__prompt">@Localizer["DragNDrop"]</span>
                            </div>
                            <button class="btn btn-block btn-outline-danger btn-sm mb-0 js-reset-button" type="button">@Localizer["ResetImage"]</button>
                        </div>
                        <div class="js-additional-fields-block">
                            <div class="form-group">
                                <label class="col-form-label">@Localizer["Fields"]</label>
                                <button type="button" class="btn btn-outline-primary btn-block btn-sm" data-toggle="modal" data-target="#addFieldButton">@Localizer["Add"]</button>
                                <div class="modal fade" id="addFieldButton" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">@Localizer["CreatingField"]...</h5>
                                                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input class="js-additional-fields-button-label" type="hidden" value="@Localizer["Remove"]" />
                                                <input class="js-additional-fields-name-label" type="hidden" value="@Localizer["FieldName"]" />
                                                <input class="js-additional-fields-type-label" type="hidden" value="@Localizer["FieldType"]" />
                                                <div class="form-group">
                                                    <label class="col-form-label" for="nameField">@Localizer["FieldName"]</label>
                                                    <input id="nameField" class="form-control js-additional-fields-name" type="text" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label" for="typesField">@Localizer["FieldType"]</label>
                                                    <select id="typesField" class="form-control js-additional-fields-type" asp-items="@GetTypesSelectList()"></select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary js-additional-fields-add-button" data-dismiss="modal">@Localizer["Create"]</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!Model.FieldNames.IsNullOrEmpty() && !Model.FieldTypesIds.IsNullOrEmpty())
                            {
                                <table class="table table-sm table-bordered text-center text-wrap js-additional-fields-table" style="table-layout: fixed;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">@Localizer["FieldName"]</th>
                                            <th scope="col">@Localizer["FieldType"]</th>
                                            <th style="width: 50px" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.FieldNames.Count; i++)
                                        {
                                            if (Model.Types.SingleOrDefault(t => t.Id == Model.FieldTypesIds[i]) != null)
                                            {
                                                <tr class="js-additional-fields-table-row">
                                                    <td style="word-wrap: break-word;">
                                                        @Model.FieldNames[i]
                                                        <input type="hidden" name="FieldNames" value="@Model.FieldNames[i]" />
                                                    </td>
                                                    <td style="word-wrap: break-word;">
                                                        @Model.Types.SingleOrDefault(t => t.Id == Model.FieldTypesIds[i]).Name
                                                        <input type="hidden" name="FieldTypesIds" value="@Model.FieldTypesIds[i]" />
                                                    </td>
                                                    <td style="word-wrap: break-word;">
                                                        <button class="btn btn-outline-danger btn-sm js-additional-fields-remove-button"
                                                                onclick="removeButtonClicked(this)">
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />    
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                        <button class="btn btn-primary btn-block mt-5" type="submit">@Localizer["Create"]</button>
                        <div class="row justify-content-center mt-2"><a class="card-link" href="@Model.ReturnUrl">@Localizer["Back"]</a></div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown-editor.js" asp-append-version="true"></script>
<script src="~/js/drag-n-drop.js" asp-append-version="true"></script>
<script src="~/js/additional-fields.js" asp-append-version="true"></script>