@model IEnumerable<AdminPanelViewModel>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["AdminPanel"];
}

<div class="container-md">
    <h4 class="mt-2 mx-2">@Localizer["AdminPanel"]</h4>
    <hr class="mb-4 mt-2"/>
    @if (!Model.Any())
    {
        <h4 class="mx-2">@Localizer["NoUsers"]</h4>
    }
    else
    { 
        <form asp-controller="Admin" asp-action="Manage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger m-1"></div>
            <div class="my-1">
                <div class="row">
                    <div class="col-6">
                        <div class="btn-group btn-group-sm m-1">
                            <button type="submit" name="actionName" value="block" class="btn btn-primary">@Localizer["Block"]</button>
                            <button type="submit" name="actionName" value="unblock" class="btn btn-primary">@Localizer["Unblock"]</button>
                        </div>
                        <button type="submit" name="actionName" value="delete" class="btn btn-primary btn-sm m-1">@Localizer["Delete"]</button>
                    </div>
                    <div class="col-6">
                        <div class="float-right">
                            <label class="text-secondary m-1">@Localizer["SetRights"]</label>
                            <div class="btn-group btn-group-sm m-1">
                                <button type="submit" name="actionName" value="toUser" class="btn btn-primary">@Localizer["User"]</button>
                                <button type="submit" name="actionName" value="toAdmin" class="btn btn-primary">@Localizer["Admin"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 50px"><input type="checkbox" id="mainCheckBox" onclick="mainCheckBoxClicked()" /></th>
                        <th>@Localizer["Username"]</th>
                        <th>@Localizer["State"]</th>
                        <th>@Localizer["Rights"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <th style="width: 50px"><input type="checkbox" class="singleCheckBox" name="selectedIds" value="@user.Id" onclick="singleCheckBoxClicked(this)" /></th>
                            <td><a class="link" href="#" title="@Localizer["GoToPage", user.UserName]">@user.UserName</a></td>
                            <td class="@(user.IsBlocked ? "text-danger" : "text-success")"><strong>@(user.IsBlocked ? Localizer["Blocked"] : Localizer["Active"])</strong></td>
                            <td class="@(user.IsAdmin ? "text-primary" : "text-secondary")">@(user.IsAdmin ? Localizer["Admin"] : Localizer["User"])</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    }
</div>

<script src="~/js/TableCheckBoxesScript.js" asp-append-version="true"></script>