@model CollectionViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Collection", Model.Collection.Name];
}

<div class="container">
    <h4 class="mt-2 mx-2 text-wrap">@Localizer["Collection", Model.Collection.Name] (@Model.Collection.Theme.Name)</h4>
    <hr class="mb-4 mt-2" />
    <div class="row justify-content-center">
        <div class="col-lg-8">
            @if (Model.Collection.User.UserName == User.Identity.Name || User.IsInRole(Role.Admin))
            {
                <button class="btn btn-outline-danger btn-block mb-3" data-toggle="modal" data-target="#modalCollection">@Localizer["Remove"]</button>
            }
            <div class="modal fade" id="modalCollection" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["Remove"]...</h5>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">@Localizer["RemoveCollection", Model.Collection.Name]</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" asp-controller="Collection" asp-action="Remove"
                               asp-route-collectionId="@Model.Collection.Id" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Remove"]</a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-light shadow-sm mb-3">
                @if (!string.IsNullOrEmpty(Model.Collection.ImagePath))
                {
                    <img class="bd-placeholder-img card-img-top shadow-sm" src="@Model.Collection.ImagePath" focusable="false" role="img">
                }
                <div class="card-body">
                    <h5 class="card-title">@Model.Collection.Name (@Model.Collection.Theme.Name)</h5>
                    @if (!string.IsNullOrEmpty(Model.Collection.Description))
                    {
                        <hr />
                        <div class="js-markdown-element">@Model.Collection.Description</div>
                    }
                    <hr />
                    <div class="card-text m-1">
                        @Localizer["Owner"]: <a class="card-link" asp-controller="Profile"
                                                asp-action="Index" asp-route-userName="@Model.Collection.User.UserName"
                                                title="@Localizer["GoToProfile", Model.Collection.User.UserName]">@Model.Collection.User.UserName</a>
                    </div>
                    @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole(Role.Admin))
                    {
                        <a class="btn btn-outline-secondary btn-block mt-3">@Localizer["Edit"]</a>
                    }
                </div>
            </div>
            <h5>@Localizer["ItemsOfCollection"]</h5>
            <hr />
            @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole(Role.Admin))
            {
                <a class="btn btn-outline-primary btn-block mb-4" asp-controller="Item" asp-action="Add"
                   asp-route-collectionId="@Model.Collection.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Add"]</a>
            }
            @if (!Model.Collection.Items.IsNullOrEmpty())
            {
                <div class="dropdown show mx-1 mb-2">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" role="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Localizer["SortBy"]
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownSortBy">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="AlphabetUp" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Alphabet"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                        </a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="AlphabetDown" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Alphabet"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="DateUp" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Publication"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                        </a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="DateDown" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Publication"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="LikeUp" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Likes"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                        </a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id"
                           asp-route-sortBy="LikeDown" asp-route-returnUrl="@Model.ReturnUrl">
                            @Localizer["Likes"]
                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="list-group bg-light">
                    @foreach (var item in Model.Collection.Items)
                    {
                        <a class="list-group-item list-group-item-action p-3 px-4" asp-controller="Item" asp-action="Index"
                           asp-route-itemId="@item.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">
                            @item.Name
                            <div class="float-right">
                                @{
                                    bool isUserLiked = item.Likes.Any(l => l.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
                                }
                                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    @if (isUserLiked)
                                    {
                                        <path fill-rule="evenodd" fill="#FF3347" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                    }
                                    else
                                    {
                                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                    }
                                </svg>
                                <span @(isUserLiked ? @"style=color:#FF3347" : "")>@item.Likes.Count</span>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown.js"></script>