@model CollectionViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Collection", Model.Collection.Name];
}

<div class="container">
    <h4 class="mt-2 mx-2 text-wrap">@Localizer["Collection", Model.Collection.Name] (@Model.Collection.Theme.Name)</h4>
    <hr class="mb-4 mt-2" />
    <div class="row justify-content-center">
        <div class="col-lg-8">
            @if (Model.Collection.User.UserName == User.Identity.Name || User.IsInRole(Role.Admin))
            {
                <button class="btn btn-outline-danger btn-block mb-3" data-toggle="modal" data-target="#modalCollection">@Localizer["Remove"]</button>
            }
            <div class="modal fade" id="modalCollection" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["Remove"]...</h5>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">@Localizer["RemoveCollection", Model.Collection.Name]</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" asp-controller="Collection" asp-action="Remove"
                               asp-route-collectionId="@Model.Collection.Id" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Remove"]</a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-light shadow-sm mb-3">
                @if (!string.IsNullOrEmpty(Model.Collection.ImagePath))
                {
                    <img class="bd-placeholder-img card-img-top" src="@Model.Collection.ImagePath" focusable="false" role="img">
                }
                <div class="card-body">
                    <h5 class="card-title">@Model.Collection.Name (@Model.Collection.Theme.Name)</h5>
                    @if (!string.IsNullOrEmpty(Model.Collection.Description))
                    {
                        <hr />
                        <div class="js-markdown-element">@Model.Collection.Description</div>
                    }
                    <hr />
                    <div class="card-text m-1">
                        @Localizer["Owner"]: <a class="card-link" asp-controller="Profile"
                                                asp-action="Index" asp-route-userName="@Model.Collection.User.UserName"
                                                title="@Localizer["GoToProfile", Model.Collection.User.UserName]">@Model.Collection.User.UserName</a>
                    </div>
                    @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole(Role.Admin))
                    {
                        <a class="btn btn-outline-secondary btn-block mt-3">@Localizer["Edit"]</a>
                    }
                </div>
            </div>
            <h5>@Localizer["ItemsOfCollection"]</h5>
            <hr />
            @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole(Role.Admin))
            {
                <a class="btn btn-outline-primary btn-block mb-3" asp-controller="Item" asp-action="Add"
                   asp-route-collectionId="@Model.Collection.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Add"]</a>
            }
            <div class="list-group bg-light">
                @foreach (var item in Model.Collection.Items)
                {
                    <a class="list-group-item list-group-item-action p-3 px-4" asp-controller="Item" asp-action="Index" 
                       asp-route-itemId="@item.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@item.Name</a>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown.js"></script>