@model CollectionViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Collection " + Model.Collection.Name;
}

<div class="container">
    <h4 class="mt-2 mx-2 text-wrap">Collection "@Model.Collection.Name" (@Model.Collection.Theme.Name)</h4>
    <hr class="mb-4 mt-2" />
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Collection.Description) || Model.Collection.ImagePath != null)
        {
            <div class="col-md-5">
                <div class="card bg-light shadow-sm">
                    @if (!string.IsNullOrEmpty(Model.Collection.ImagePath))
                    {
                        <img class="bd-placeholder-img card-img-top" src="@Model.Collection.ImagePath" focusable="false" role="img">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Model.Collection.Name (@Model.Collection.Theme.Name)</h5>
                        <hr />
                        <div class="js-markdown-element">@Model.Collection.Description</div>
                    </div>
                </div>
                @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole("admin"))
                {
                    <a class="btn btn-outline-secondary btn-block mt-3 mb-3">Edit</a>
                }
            </div>
        }
        <div class="col-md-7">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Items of collection</h5>
                    <hr />
                    @if (User.Identity.Name == Model.Collection.User.UserName || User.IsInRole("admin"))
                    {
                        <a onclick="history.go(-1)" class="btn btn-outline-primary btn-block" asp-controller="Item" asp-action="Add"
                           asp-route-collectionId="@Model.Collection.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">Add</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown.js"></script>