@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <header class="card-header">
                    <h4 class="text-center">Login</h4>
                </header>
                <article class="card-body">
                    <form asp-controller="Account" asp-action="Login" asp-route-returlUrl="@Model.ReturnUrl" method="post">
                        <div class="form-group">
                            <label class="col-form-label" for="usernameField">Username</label>
                            <input asp-for="UserName" class="form-control" id="usernameField"/>
                            <small><span asp-validation-for="UserName" class="text-danger"></span></small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="passwordField">Password</label>
                            <input asp-for="Password" class="form-control" id="passwordField"/>
                            <small><span asp-validation-for="Password" class="text-danger"></span></small>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberCheckBox" />
                            <label class="form-check-label" for="rememberCheckBox">Remember me</label>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                </article>
            </div>
            @{
                if(!(Model.ExternalLogins.Count == 0))
                {
                    <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div class="row justify-content-center m-2">
                            <span>or</span>
                        </div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <div class="row m-1 justify-content-center">
                                    <button type="submit" class="btn btn-secondary btn-sm" 
                                            name="provider" value="@provider.Name" 
                                            title="Login using your @provider.DisplayName account">
                                        Login with @provider.DisplayName
                                    </button>
                                </div>
                            }
                    </form>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}