@model SearchViewModel
@inject IViewLocalizer Localizer
@{ 
    ViewData["Title"] = Localizer["Search"];
}

<div class="container">
    <h4 class="mt-2 mx-2">@Localizer["SearchResult", Model.SearchString]</h4>
    <hr class="mb-4 mt-2" />
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info text-center my-3">@Localizer["NoResult"]</div>
    }
    else
    {
        <div class="accordion" id="accordionItems">
            @foreach (var item in Model.Items)
            {
                <div class="card bg-light">
                    <div id="@($"heading{item.Id}")" class="card-header">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#@($"collapse{item.Id}")" aria-expanded="false" aria-controls="@($"collapse{item.Id}")">
                                @item.Name
                            </button>
                        </h2>
                    </div>
                    <div id="@($"collapse{item.Id}")" class="collapse" aria-labelledby="@($"heading{item.Id}")" data-parent="#accordionItems">
                        <div class="card-body">
                            <div>
                                <div class="card-text m-1">@Localizer["Owner"]: <a class="card-link" asp-controller="Profile" 
                                                                                   asp-action="Index" asp-route-userName="@item.Collection.User.UserName"
                                                                                   title="@Localizer["GoToProfile", item.Collection.User.UserName]">@item.Collection.User.UserName</a></div>
                                <div class="card-text m-1">@Localizer["Collection"]: <a class="card-link" asp-controller="Profile" 
                                                                                        asp-action="Collection" asp-route-collectionId="@item.CollectionId" 
                                                                                        asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)"
                                                                                        title="@Localizer["GoToCollection", item.Collection.Name]">@item.Collection.Name</a></div>
                                <hr />
                                <a class="card-text card-link m-1" asp-controller="Item" asp-action="Index" 
                                   asp-route-itemId="@item.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Detail"]...</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>