@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollectionStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dark-mode.css">
    <link rel="stylesheet" href="~/css/drag-n-drop.css">
    <link rel="stylesheet" href="~/css/markdown.css">
    <link rel="stylesheet" href="~/css/markdown-editor.css">
    <link rel="stylesheet" href="~/css/autocomplete.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">CollectionStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">
                        @if (User.IsInRole(Role.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="AdminPanel">@Localizer["AdminPanel"]</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0" asp-controller="Search" asp-action="Search" method="get">
                                <input class="form-control mr-sm-2" type="search" name="searchString" placeholder="@Localizer["Search"]" aria-label="Search">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </button>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="custom-control my-2 mx-1 custom-switch">
                                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                            </div>
                        </li>
                        <li class="nav-item py-2">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link m-1" asp-controller="Profile" asp-action="Index" asp-route-userName="@User.Identity.Name">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-secondary m-1" asp-controller="Account" asp-action="LogOut">@Localizer["LogOut"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary m-1" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-secondary m-1" asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["SignUp"]</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CollectionStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dark-mode-switch.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
