@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollectionStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/dark-mode/dark-mode.css">
    <link rel="stylesheet" href="~/css/drag-n-drop.css">
    <link rel="stylesheet" href="~/css/markdown.css">
    <link rel="stylesheet" href="~/css/markdown-editor.css">
    <link rel="stylesheet" href="~/css/autocomplete.css">
</head>
<body>
    <header class="container-fluid mt-2 mb-3">
        <nav class="navbar navbar-expand-lg border-bottom box-shadow border-0">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CollectionStore</a>
            <button class="navbar-toggler btn btn-link" data-toggle="collapse" data-target="#navbarMenu" 
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    @if (User.IsInRole(Role.Admin))
                    {
                        <li class="nav-item mr-2" title="@Localizer["AdminPanel"]">
                            <a class="btn btn-outline-primary" asp-controller="Admin" asp-action="AdminPanel">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </a>

                        </li>
                    }
                    <li class="nav-item mr-3" title="@Localizer["Statistics"]">
                        <a class="btn btn-outline-primary" asp-controller="Admin" asp-action="AdminPanel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" asp-controller="Search" asp-action="Search" method="get">
                            <input id="searchInput" class="form-control mr-sm-2" type="search" name="searchString" placeholder="@Localizer["Search"]" aria-label="Search">
                            <button id="searchBtn" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                </svg>
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-2">
                        <div class="custom-control mx-1 my-2 custom-switch">
                            <input type="checkbox" class="custom-control-input" id="darkSwitch">
                            <label class="custom-control-label" for="darkSwitch">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z" />
                                </svg>
                            </label>
                        </div>
                    </li>
                    <li class="nav-item mr-2">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mr-2">
                            <a class="nav-link" asp-controller="Profile" asp-action="Index" asp-route-userName="@User.Identity.Name">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="LogOut">@Localizer["LogOut"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mr-2">
                            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Login"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["SignUp"]</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer shadow text-muted">
        <div class="container">
            &copy; 2020 - CollectionStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/dark-mode/dark-mode-switch.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        const btn = document.getElementById("searchBtn");
        const input = document.getElementById("searchInput");

        setBtnDisabled(btn, input);

        input.addEventListener("input", e => {
            setBtnDisabled(btn, input)
        });

        function setBtnDisabled(btn, input) {
            if (!input.value) {
                btn.setAttribute("disabled", "disabled");
            }
            else if (input.value && btn.hasAttribute("disabled")) {
                btn.removeAttribute("disabled");
            }
        }
    </script>
</body>
</html>
