@model AddingEditingItemViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer[Model.IsEditing ? "EditingItem" : "CreatingItem", Model.Collection.Name];
}

<div class="container">
    <h4 class="mt-2 mx-2">@Localizer[Model.IsEditing ? "EditingItem" : "CreatingItem", Model.Collection.Name]</h4>
    <hr class="mb-4 mt-2" />
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-sm">
                <article class="card-body">
                    <form asp-controller="Item" asp-action="@(Model.IsEditing ? "Edit" : "Add")" asp-route-returnUrl="@Model.ReturnUrl"
                          asp-route-collectionId="@Model.CollectionId" asp-route-itemId="@Model.ItemId"
                          asp-route-isEditing="@Model.IsEditing" method="post">
                        <div class="form-group">
                            <label class="col-form-label" for="name">@Localizer["Name"]</label>
                            <input id="name" class="form-control" asp-for="Name" />
                            <small><span class="text-danger" asp-validation-for="Name"></span></small>
                        </div>
                        <div class="form-group js-tag-manager-container">
                            <label class="col-form-label" for="tag">@Localizer["Tags"]</label>
                            <input id="tag" class="form-control js-tag-manager-input" />
                            @*<ul class="list-inline js-tag-manager-list">
            <li class="list-inline-item m-0">
                <div class="badge badge-secondary p-1">
                    <span class="js-tag-manager-tag-label">test</span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" style="cursor: pointer;">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z">
                        </path>
                    </svg>
                </div>
            </li>
            <li class="list-inline-item m-0">
                <div class="badge badge-secondary p-1">
                    <span class="js-tag-manager-tag-label">cars</span>
                    <svg onclick="alert('delete')" style="cursor: pointer" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </li>
            <li class="list-inline-item m-0">
                <div class="badge badge-secondary p-1">
                    <span class="js-tag-manager-tag-label">collections</span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </li>
            <li class="list-inline-item m-0">
                <div class="badge badge-secondary p-1">
                    <span class="js-tag-manager-tag-label">cars</span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </li>
        </ul>*@

                        </div>
                        @for (int i = 0; i < Model.Collection.Fields.Count; i++)
                        {
                            var field = Model.Collection.Fields[i];
                            <input type="hidden" asp-for="@Model.FieldIds" value="@field.Id" />
                            @switch (field.Type.Name)
                            {
                                case "Numeric":
                                    {
                                        <div class="form-group">
                                            <label class="col-form-label" for="@field.Id">@field.Name</label>
                                            <input id="@field.Id" class="form-control" type="number" step="any" asp-for="@Model.Values" value="@(i >= Model.Values.Count ? null : Model.Values[i])" />
                                        </div>
                                        break;
                                    }
                                case "String":
                                    {
                                        <div class="form-group">
                                            <label class="col-form-label" for="@field.Id">@field.Name</label>
                                            <input id="@field.Id" class="form-control" type="text" asp-for="@Model.Values" value="@(i >= Model.Values.Count ? null : Model.Values[i])" />
                                        </div>
                                        break;
                                    }
                                case "Markdown":
                                    {
                                        <div class="form-group js-markdown-block">
                                            <label class="col-form-label" for="@field.Id">@field.Name</label>
                                            <textarea id="@field.Id" rows="6" class="form-control js-markdown-input"
                                                      style="max-height: 250px" name="Values">@(i >= Model.Values.Count ? null : Model.Values[i])</textarea>
                                            <label class="col-form-label">@Localizer["Preview"]</label>
                                            <div class="js-markdown-preview"></div>
                                        </div>
                                        break;
                                    }
                                case "Date":
                                    {
                                        <div class="form-group">
                                            <label class="col-form-label" for="@field.Id">@field.Name</label>
                                            <input id="@field.Id" class="form-control" type="date" asp-for="@Model.Values" value="@(i >= Model.Values.Count ? null : Model.Values[i])" />
                                        </div>
                                        break;
                                    }
                                case "Check box":
                                    {
                                        <div class="form-group form-check js-check-box-block">
                                            <input id="@field.Id" class="form-check-input js-check-box" type="checkbox" />
                                            <label class="form-check-label" for="@field.Id">@field.Name</label>
                                            <input class="js-check-box-value" type="hidden" asp-for="@Model.Values" value="@(i >= Model.Values.Count ? "unchecked" : Model.Values[i])" />
                                        </div>
                                        break;
                                    }
                                default:
                                    break;
                            }
                        }
                        <button class="btn btn-primary btn-block" type="submit">@Localizer[Model.IsEditing ? "Save" : "Add"]</button>
                        <div class="row justify-content-center mt-2"><a class="card-link" href="@Model.ReturnUrl">@Localizer["Back"]</a></div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown-editor.js" asp-append-version="true"></script>
<script>
    document.querySelectorAll(".js-check-box").forEach(checkBox => {
        const value = checkBox.closest(".js-check-box-block").querySelector(".js-check-box-value");
        checkBox.addEventListener("change", e => {
            value.value = e.target.checked ? "checked" : "unchecked";
        });
        checkBox.checked = value.value == "checked";
    });
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#tag").autocomplete({
        source: '@Url.Action("GetTags", "Tag")'
    });
</script>
<script src="~/js/tag-manager.js" asp-append-version="true"></script>