@model ItemViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Item", Model.Item.Name];
}

<div class="container">
    <h4 class="mt-2 mx-2 text-wrap">@Localizer["Item", Model.Item.Name]</h4>
    <hr class="mb-4 mt-2" />
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <h5>@Localizer["Description"]</h5>
                    <hr />
                    <div class="card-text m-1">@Localizer["Owner"]: <a class="card-link" asp-controller="Profile"
                                                                       asp-action="Index" asp-route-userName="@Model.Item.Collection.User.UserName"
                                                                       title="@Localizer["GoToProfile", Model.Item.Collection.User.UserName]">@Model.Item.Collection.User.UserName</a></div>
                    <div class="card-text m-1">@Localizer["Collection"]: <a class="card-link" asp-controller="Profile"
                                                                            asp-action="Collection" asp-route-collectionId="@Model.Item.CollectionId"
                                                                            title="@Localizer["GoToCollection", Model.Item.Collection.Name]">@Model.Item.Collection.Name</a></div>
                    @if (Model.Item.ItemTags.IsNullOrEmpty())
                    {
                        <div class="card-text">@Localizer["Tags"]: -</div>
                    }
                    else
                    {
                        <ul class="list-inline m-1">
                            <li class="list-inline-item m-0">
                                <div class="card-text">@Localizer["Tags"]:</div>
                            </li>
                            @foreach (var itemTag in Model.Item.ItemTags)
                            {
                                <li class="list-inline-item m-0">
                                    <a class="badge badge-secondary p-1" asp-controller="Search" asp-action="SearchByTag" asp-route-tagContent="@itemTag.Tag.Content">
                                        @itemTag.Tag.Content
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    <hr />
                    @foreach (var fieldValue in Model.Item.FieldValues)
                    {
                        if (fieldValue.Field.Type.Name == "Check box")
                        {
                            <div class="card-text m-1">@fieldValue.Field.Name: @(fieldValue.Value == "checked" ? Localizer["Yes"] : Localizer["No"])</div>
                        }
                        else if (fieldValue.Field.Type.Name == "Markdown")
                        {
                            <div class="m-1">
                                <div class="card-text">@fieldValue.Field.Name</div>
                                <div class="js-markdown-element js-markdown-element-border">@fieldValue.Value</div>
                            </div>
                        }
                        else
                        {
                            <div class="card-text m-1">@fieldValue.Field.Name: @(string.IsNullOrEmpty(fieldValue.Value) ? "-" : fieldValue.Value)</div>
                        }
                    }
                    <div class="m-1 mt-3">
                        @if (Model.Item.Collection.User.UserName == User.Identity.Name || User.IsInRole(Role.Admin))
                        {
                            <button class="btn btn-outline-danger btn-sm mr-1" data-toggle="modal" data-target="#@($"modal{Model.Item.Id}")">@Localizer["Remove"]</button>
                            <div class="modal fade" id="@($"modal{Model.Item.Id}")" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@Localizer["Remove"]...</h5>
                                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">@Localizer["RemoveItem", Model.Item.Name, Model.Item.Collection.Name]</div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-danger" asp-controller="Item" asp-action="Remove"
                                               asp-route-itemId="@Model.Item.Id" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Remove"]</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-outline-secondary btn-sm" asp-controller="Item" asp-action="Edit"
                               asp-route-itemId="@Model.Item.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Edit"]</a>
                        }
                    </div>
                </div>
            </div>
            <div class="card bg-light shadow-sm mt-3">
                <div class="card-body">
                    <h5>@Localizer["Comments"]</h5>
                    <hr/>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="@Localizer["ShareYourThoughts"]"></textarea>
                        <button class="btn btn-outline-secondary btn-block mt-2">@Localizer["Send"]</button>
                    </div>
                    <hr />
                    <div class="px-2">
                        <a class="card-link font-weight-bold px-1" href="#">Kirill</a>
                        <div class="card-text">The best collection</div>
                        <div class="card-text text-black-50"><small>26.03.2012 20:10</small></div>
                    </div>
                    <hr />
                    <div class="px-2">
                        <a class="card-link font-weight-bold px-1" href="#">User</a>
                        <div class="card-text">No, I have a collection better than it!!!</div>
                        <div class="card-text text-black-50"><small>26.03.2012 20:15</small></div>
                    </div>
                    <hr />
                    <div class="px-2">
                        <a class="card-link font-weight-bold px-1" href="#">Kirill</a>
                        <div class="card-text">IDK. I like this collection</div>
                        <div class="card-text text-black-50"><small>26.03.2012 20:17</small></div>
                    </div>
                    <hr />
                    <div class="px-2">
                        <a class="card-link font-weight-bold px-1" href="#">Admin</a>
                        <div class="card-text">I agree with kirill</div>
                        <div class="card-text text-black-50"><small>26.03.2012 20:19</small></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown.js"></script>