@model HomeViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HomePage"];
    double Avarage = 0;
    if (!Model.Tags.IsNullOrEmpty())
    {
        Avarage = Model.Tags.Average(t => t.ItemTags.Count);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="mx-2 text-wrap">@Localizer["Tags"]</h5>
                    <hr class="mt-2" />
                    @if (Model.Tags.IsNullOrEmpty())
                    {
                        <div class="alert alert-info text-center my-3">@Localizer["NoTags"]</div>
                    }
                    else
                    {
                        <ul class="list-inline m-0">
                            @foreach (var tag in Model.Tags)
                            {
                                <li class="list-inline-item m-0">
                                    <a class="badge @(tag.ItemTags.Count >= Avarage ? "badge-primary" : "badge-secondary") p-1" 
                                       asp-controller="Search" asp-action="SearchByTag" asp-route-tagContent="@tag.Content">
                                        @tag.Content <span class="badge badge-light">@tag.ItemTags.Count</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="collections-tab" data-toggle="tab" href="#collections" role="tab" aria-controls="collections" aria-selected="true">@Localizer["Collections"]</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="false">@Localizer["Items"]</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="collections" role="tabpanel" aria-labelledby="items-tab">
                    @if (Model.Collections.Count == 0)
                    {
                        <div class="alert alert-info text-center my-3">@Localizer["NoCollectionMessage"]</div>
                    }
                    else
                    {
                        <div class="card-columns py-3">
                            @{ 
                                var collections = Model.Collections.OrderByDescending(c => c.Items.Count);
                            }
                            @foreach (var collection in collections)
                            {
                                bool HasAccess = false;
                                if (User.Identity != null)
                                {
                                    HasAccess = User.Identity.Name == collection.User.UserName || User.IsInRole(Role.Admin);
                                }
                                <div class="card bg-light @(HasAccess ? "border-info" : "") shadow-sm">
                                    @if (!string.IsNullOrEmpty(collection.ImagePath))
                                    {
                                        <a asp-controller="Profile" asp-action="Collection" asp-route-collectionId="@collection.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">
                                            <img class="bd-placeholder-img card-img-top" src="@collection.ImagePath" focusable="false" role="img">
                                        </a>
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a class="card-link text-dark" asp-controller="Profile" asp-action="Collection"
                                               asp-route-collectionId="@collection.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@collection.Name (@collection.Theme.Name)</a>
                                        </h5>
                                        @if (collection.Description != null)
                                        {
                                            <hr />
                                            <div class="js-markdown-element">@collection.Description</div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="tab-pane fade pt-3" id="items" role="tabpanel" aria-labelledby="collections-tab">
                    @if (Model.Items.Count == 0)
                    {
                        <div class="alert alert-info text-center my-3">@Localizer["NoItemMessage"]</div>
                    }
                    else
                    {
                        <div class="accordion" id="accordionItems">
                            @foreach (var item in Model.Items)
                            {
                                bool HasAccess = false;
                                if (User.Identity != null)
                                {
                                    HasAccess = User.Identity.Name == item.Collection.User.UserName || User.IsInRole(Role.Admin);
                                }
                                <div class="card bg-light">
                                    <div id="@($"heading{item.Id}")" class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block @(HasAccess ? "text-info font-weight-bold" : "") text-left" type="button" data-toggle="collapse"
                                                    data-target="#@($"collapse{item.Id}")" aria-expanded="false" aria-controls="@($"collapse{item.Id}")">
                                                @item.Name
                                                <div class="float-right">
                                                    @{
                                                        bool isUserLiked = item.Likes.Any(l => l.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
                                                    }
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        @if (isUserLiked)
                                                        {
                                                            <path fill-rule="evenodd" fill="#FF3347" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                                        }
                                                        else
                                                        {
                                                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                        }
                                                    </svg>
                                                    <span @(isUserLiked ? @"style=color:#FF3347" : "")>@item.Likes.Count</span>
                                                </div>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="@($"collapse{item.Id}")" class="collapse" aria-labelledby="@($"heading{item.Id}")" data-parent="#accordionItems">
                                        <div class="card-body">

                                            <div>
                                                <div class="card-text m-1">
                                                    @Localizer["Owner"]: <a class="card-link" asp-controller="Profile"
                                                                            asp-action="Index" asp-route-userName="@item.Collection.User.UserName"
                                                                            title="@Localizer["GoToProfile", item.Collection.User.UserName]">@item.Collection.User.UserName</a>
                                                </div>
                                                <div class="card-text m-1">
                                                    @Localizer["Collection"]: <a class="card-link" asp-controller="Profile"
                                                                                    asp-action="Collection" asp-route-collectionId="@item.CollectionId"
                                                                                    asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)"
                                                                                    title="@Localizer["GoToCollection", item.Collection.Name]">@item.Collection.Name</a>
                                                </div>
                                                <hr />
                                                <a class="card-text card-link m-1" asp-controller="Item" asp-action="Index"
                                                    asp-route-itemId="@item.Id" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)">@Localizer["Detail"]...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/js/markdown.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/home-page-tabs.js"></script>